@import "./variables.scss";

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: $grayishBlue;
    margin-top: 1rem;

    background-image: url(../assets/pattern-curve.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center bottom;
    padding: 3rem;
    a{
        color: $darkBlue; 
    }
}

@media (min-width: 481px) {
    .attribution{
        background-size: 50% 100%;
        background-position: left center;
        padding: 4rem;
    }
}