@import "./variables.scss";

.slider {
  text-align: center;
  background-image: url("../assets/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: 2rem 1rem;
  .sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }
  .img-buttons {
    position: relative;
    .profile-img {
      border-radius: 10px;
      max-width: 65%;
      // box-shadow: 0px 30px 30px -10px $grayishBlue;
      box-shadow: 0px 25px 24px -10px rgba(132, 132, 132, 0.372);
      margin-top: 3rem;
    }
    .slider-buttons {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, 0);
      background: white;
      border-radius: 50px;
      width: 5rem;
      padding: 0.8rem;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      img {
        width: 0.6rem;
      }
    }
  }
  .quote {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5rem;
    padding: 2rem;
    padding-bottom: 1rem;
    margin-top: 2.5rem;
    background-image: url(../assets/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: 3.5rem;
    color: $darkBlue;
  }
  .name {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
    color: $darkBlue;
  }
  .title {
    font-size: 1rem;
    color: $grayishBlue;
  }
}

@media (min-width: 481px) {
  .slider {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    align-items: center;
    padding: 6rem 11rem;
    background-size: 52%;
    background-position: 90% 40%;
    .text {
        width: 55%;
        min-width: 55%;
        max-width: 55%;
        z-index: 10;
      .quote {
        padding: 0;
        padding-top: 4rem;
        font-size: 1.9rem;
        line-height: 2.5rem;
        margin-bottom: 2rem;
        margin-top: 0;
        background-size: 7rem;
        background-position: 20% 0%;
      }
      .identity {
        display: flex;
        .name {
          margin-right: 10px;
        }
        .name, .title{
            font-size: 1.2rem;
        }
      }
    }
    .img-buttons{
        margin: 0;
        padding: 0;
        width: 45%;
        min-width: 45%;
        max-width: 45%;
        .profile-img{
            margin: 0;
            padding: 0;
            min-width: 40vw;
            // box-shadow: none;
            position: relative;
            transform: translateX(-50px);
        }
        .slider-buttons{
            top: 95%;
            left: 15%;
            padding: 1rem;
            width: 7rem;
            img{
                width: .9rem;
            }
        }
    }
  }
}
